[Desktop Entry]
Name=Logical Volume Management
Name[bg]=Управление на логически томове
Name[ca]=Gestió de volum lògic
Name[cs]=Správa logických svazků
Name[da]=Håndtering af logiske delarkiver
Name[de]=Logische Datenträgerverwaltung (LVM)
Name[es]=Administrador de Volumen Lógico
Name[et]=Loogilise ketta haldamine
Name[fr]=Gestionnaire de Volumes Logiques
Name[it]=Logical Volume Management
Name[ja]=論理ボリューム管理
Name[ko]=논리적인 볼륨 관리
Name[mk]=Менаџмент за логички простор
Name[pa]=ਲਾਜ਼ੀਕਲ ਵਾਲੀਅਮ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie Woluminami Logicznymi LVM
Name[pt]=Gestão de Volumes Lógicos
Name[ru]=Управление логическими томами
Name[sv]=Hantering av logiska volymer
Name[ta]=லாஜிகல் வால்யூம் மேலாண்மை
GenericName=LVM
Comment=Configure LVM in a graphical setting
StartupNotify=true
Icon=/usr/share/system-config-lvm/pixmaps/lv_icon.png
Exec=/usr/sbin/system-config-lvm
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Application;SystemSetup;X-Red-Hat-Base;
X-Desktop-File-Install-Version=0.2
